.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
  padding: 30px 80px 40px;
  background: url(../images/background_header.svg) center no-repeat;
  background-color: #ffffff;
}

.header__title {
  line-height: 72px;
  margin: 183px 0 0;
  font-size: 60px;
  letter-spacing: -0.6px;
  z-index: 1;
  font-weight: 500;
  max-width: 729px;
}
.header__description {
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin: 28px 0 0;
}
.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  color: #838383;
}

.header__paragraph {
  color: #838383;
  margin: 0;
  z-index: 1;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  color: #2f80ed;
  font-size: 60px;
  line-height: 72px;
}
