.recipes {
  padding: 100px 80px 215px;
  color: white;
  background: url(../images/background_recipes.svg) no-repeat center #0a2570;
}

.recipes__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin: 0 100px 0 0;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin: 80px 0 215px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 0;
  font-weight: 500;
  line-height: 30px;
  font-size: 20px;
}

.recipes__subtitle {
  font-family: "Noto Serif", Times New Roman, serif;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 0;
  max-width: 438px;
}
.recipes__iframe {
  margin: 80px 0 0;
  height: 273px;
  width: 480px;
  border: none;
}
