.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
  padding: 30px 80px 40px;
  background: url(../images/background_header.svg) center no-repeat;
  background-color: #ffffff;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  margin: 0;
  gap: 20px;
  padding: 0;
  list-style-type: none;
}
.nav__link {
  color: #000;
  text-decoration: none;
}
.nav__link:hover {
  color: #2f80ed;
}

.header__title {
  line-height: 72px;
  margin: 183px 0 0;
  font-size: 60px;
  letter-spacing: -0.6px;
  z-index: 1;
  font-weight: 500;
  max-width: 729px;
}
.header__description {
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin: 28px 0 0;
}
.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  font-weight: 500;

  justify-content: space-between;
  color: #838383;
}

.header__paragraph {
  color: #838383;
  margin: 0;
  z-index: 1;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  color: #2f80ed;
  font-size: 60px;
  line-height: 72px;
}

.recipes {
  background-color: #0a2570;
  padding: 100px 80px 215px;
  color: white;
  background: url(../images/background_recipes.svg) no-repeat center;
}

.recipes__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin: 100px 0 0;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 0;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 0;
  max-width: 438px;
}
.recipes__iframe {
  margin: 80px 0 0;
  height: 273px;
  width: 480px;
}
